In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./data/0_科系_學院分類.xlsx')

In [3]:
df.head(2)

,院,系所,M1722 生技醫療,M1800 玻璃陶瓷,M1900 造紙工業,M2000 鋼鐵工業,M2100 橡膠工業,M2200 汽車工業,M2500 建材營造,M2324 半導體,M2325 電腦及週邊,M2326 光電業,M2328 電子零組件,M2329 電子通路業,M2330 資訊服務業,M2327 通信網路業,M2331 其他電子業
0,工學院,Chemical Engineering,v,v,v,v,v,v,NaN,v,v,v,v,v,v,v,v
1,工學院,Engineering Science,NaN,v,v,v,v,v,v,v,v,v,v,v,v,v,v

In [4]:
df_ex = pd.read_excel('./data/0_科系_學院分類_例外.xlsx').dropna(subset=['科系'])

In [5]:
df_ex.head(2)

      院            系所  科系
0  管理學院  美國明尼蘇達大學會學博士  會計
1  管理學院   美國明尼蘇達大計學博士  會計

In [6]:
for col in df.columns:
    if col not in ['院','系所']:
        print(col)
        confirm_dict = dict(zip(df['系所'],df[col]))
        df_ex[col] = df_ex['科系'].apply(lambda x:'待定' if x not in confirm_dict.keys() else confirm_dict[x])

M1722 生技醫療
M1800 玻璃陶瓷
M1900 造紙工業
M2000 鋼鐵工業
M2100 橡膠工業
M2200 汽車工業
M2500 建材營造
M2324 半導體
M2325 電腦及週邊
M2326 光電業
M2328 電子零組件
M2329 電子通路業
M2330 資訊服務業
M2327 通信網路業
M2331 其他電子業

In [7]:
df_ex

,院,系所,科系,M1722 生技醫療,M1800 玻璃陶瓷,M1900 造紙工業,M2000 鋼鐵工業,M2100 橡膠工業,M2200 汽車工業,M2500 建材營造,M2324 半導體,M2325 電腦及週邊,M2326 光電業,M2328 電子零組件,M2329 電子通路業,M2330 資訊服務業,M2327 通信網路業,M2331 其他電子業
0,管理學院,美國明尼蘇達大學會學博士,會計,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,管理學院,美國明尼蘇達大計學博士,會計,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,管理學院,淡水工商管理學院,MBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,管理學院,"MBA,The University of Connecticut,USA",MBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,管理學院,MasterBusiness Administration Indiana University,MBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,藝術設計學院,世新大學電編導演組,視傳系,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,教育學院,淡江大學教資系,教育,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,工學院,清華大學IE研究所,工業工程,NaN,v,v,v,v,v,v,v,v,v,v,v,v,v,v
340,管理學院,南加大商稅碩士,商研所,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,藝術設計學院,輔仁大學織品系,織品服裝,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_ex.to_excel('./data/0_科系_學院分類_例外.xlsx', index=False,encoding='utf-8-sig')